$blue: #242738;
$orange: #F1B52E;
$dgray: #677077;
$lgray: #B5B5B7;
$ddgray: #1a1d28;

body
{
	background: {
		color: $lgray;
	}
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin: 0;
	padding: 0;
}

a
{
	color: white;
	text-decoration: none;
}

textarea, button, select
{
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.active
{
	background-color: $orange;
}

.inactive
{
	background-color: rgba(white, 0.5);
}