@import "../../default";


.homeimage
{
	width: 100%;
	height: 25vw;
	min-height: 300px;
	max-height: 500px;
	background: {
		image: url("/images/homeimage/madmax.jpeg");
		size: cover;
		position: center;
	}
}

.homenav
{
	height: 30px;
	background-color: $blue;
	padding: 17px 0;
	p{
		color: $orange;
		margin: 0;
		text-transform: uppercase;
		display: inline;
		font-size: 30px;
		padding: 0 30px;

	}
}

.homecont
{
	min-height: 400px;
	background: {
		color: $dgray;
	}
}