@import "../../../default";


.biosort
{
	padding: 5px 0;
	height: 170px;
	background-color: $ddgray;

	.biomap 
	{
		position: relative;
		float: left;
		padding: 15px 20px;
		width: 150px;
		img
		{
			padding: 0;
			margin: 0;
			width: 100%;
		}

		.arrow
		{
			position: absolute;
			right: 28px;
			bottom: 30px;
			width: 10px;
			height: 15px;
		}
		select
		{
			color: white;
			width: 100%;
			padding: 10px;
			border: none;
			background: none;
		    text-indent: 6px;
		    font-size: 16px;

		    &:focus
		    {
		    	outline: none;
		    }

		    &:hover
		    {
		    	cursor: pointer;
		    }

			option
			{
			    padding: 5px;
				background-color: $ddgray;
				margin: 10px;
				&:hover
				{
	                box-shadow: 0 0 10px 100px #FED20F inset;
	                transition: all .2s ease-in-out;
				}

				p
				{
					padding: 10px;
				}
			}
		}
	}

	.biodags
	{
		width: 170px;
		color: white;
		float: left;
		padding: 0 10px;
		position: relative;
	    
	    p
	    {
	    	color: rgba(white, 0.5);
	    	margin: 10px 5px 5px 5px;
	    }

		.bioweek
		{
			height: 120px;
			width: 160px;
			overflow-y: scroll;
		}

		ul
		{
			list-style: none;
			padding: 0;
			margin: 0;
			li
			{
				transition: all 0.2s ease-in-out;
				padding: 7px 5px 5px 5px;
				&:hover
				{
					background-color: $orange;
					cursor: pointer;
				}
			}

			span
			{
				float: right;
			}
		}

		img
		{
			height: 8px;
			position: absolute;
			right: 0;
		}

		.up
		{
			top: 42px;
		}

		.down
		{
			bottom: 8px;
		    -ms-transform: rotate(180deg); /* IE 9 */
		    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		    transform: rotate(180deg);
		}
	}

	.biotegund
	{
		padding: 10px 20px;
		float: left;
		height: 150px;
		width: 40%;
		margin-left: 35px;
		button
		{
			color: white;
			margin: 0 0 10px 10px;
			width: 23%;
			height: 70px;
			float: left;
			background: none;
			border: solid 1px;
			border-color: rgba(white, 0.4);
			font-size: 16px;
			font-weight: 500;

			transition: all 0.3s ease-in-out;
			&:hover
			{
				background-color: rgba(white, 0.3);
				cursor: pointer;
			}

			&:focus
			{
				outline: none;
				background-color: rgba(white, 0.3);
			}
		}
	}

	.biohus
	{
		width: 170px;
		color: white;
		float: right;
		padding: 0 0 5px 10px;
		position: relative;
	    
	    p
	    {
	    	color: rgba(white, 0.5);
	    	margin: 10px 5px 5px 5px;
	    }

		.biohusin
		{
			height: 120px;
			width: 160px;
			overflow-y: scroll;
		}

		ul
		{
			list-style: none;
			padding: 0;
			margin: 0;
			li
			{
				transition: all 0.2s ease-in-out;
				padding: 7px 5px 5px 5px;
				&:hover
				{
					background-color: $orange;
					cursor: pointer;
				}
			}
		}
		img
		{
			height: 8px;
			position: absolute;
			right: 20px;
		}

		.up
		{
			top: 42px;
		}

		.down
		{
			bottom: 10px;
		    -ms-transform: rotate(180deg); /* IE 9 */
		    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		    transform: rotate(180deg);
		}
	}

	.bioorder
	{
		width: 130px;
		padding: 10px;
		float: right;
		button
		{
			width: 120px;
			padding: 13px 10px;
			margin-bottom: 10px;
			border: none;
			&:active
			{
				background-color: $orange;
			}
			&:focus
			{
				outline: none;
			}
		}
	}

	

}

.bioview
{
	padding: 5px 0;
	background:
	{
		color: $dgray;
	}
}

.wrap
{
	overflow: hidden;
  	margin: 10px;
}

.bioitem
{
	float: left;
	width: 20%;
	padding-bottom: 30%;
	//background: black;
	color: #FFF;
	position: relative;

	transition: all 0.1s ease-in-out;
	&:hover
	{
		color: $orange;
		cursor: pointer;
	}
}

.innercontent
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	background: black;

	img
	{
		width: 100%;
		max-height: 100%;
	}
}

.innertitle
{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: 
	{
		color: rgba(black, 0.8);
	}

	h1
	{
		font-size: 20px;
		padding: 10px;
		margin: 0;
	}

	&:hover
	{
		cursor: pointer;
	}
}

//Responsive
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .bioitem {
      width: 100%;
      padding-bottom: 150%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .bioitem {
      width: 50%;
      padding-bottom: 75%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .bioitem {
      width: 33.3%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .bioitem {
      width: 25%;
      padding-bottom: 37.5%;
   }
}