@import "../../default";

.admincat
{
	min-height: 300px;
	background:
	{
		color: $dgray;
	}	
}

.catform
{
	width: 500px;
	padding: 20px;

	input, textarea, button
	{
		border: none;
		resize: none;
		padding: 15px;

		background:
		{
			color: rgba(white, 0.8);
		}
	}

	input
	{
		width: 100%;
		margin-bottom: 10px;
		height: 20px;
	}

	textarea
	{
		height: 81px;
		width: 100%;
		margin-bottom: 3px;
	}

	button
	{
		width: 46%;
		transition: all 0.2s ease-in-out;
		&:hover
		{
			background-color: $orange;
		}
	}

	ul
	{
		margin-right: 43px;
		padding: 0;
		width: 200px;
		float: left;
		list-style: none;
	}
}