@import "../../default";

.admincat
{
	min-height: 500px;
	padding: 20px 0;
	background:
	{
		color: $dgray;
	}	

	h1
	{
		color: white;
		padding: 0;
		margin: 0;
	}

	img
	{
		float: right;
		margin: 30px;
		height: 400px;
	}
}

.catform
{
	float: left;
	width: 500px;
	padding: 20px;

	input, textarea, button
	{
		border: none;
		resize: none;
		padding: 15px;

		background:
		{
			color: rgba(white, 0.8);
		}
	}

	input
	{
		width: 100%;
		margin-bottom: 10px;
		height: 20px;
	}

	textarea
	{
		height: 81px;
		width: 100%;
		margin-bottom: 3px;
	}

	button
	{
		width: 46%;
		transition: all 0.2s ease-in-out;
		&:hover
		{
			background-color: $orange;
		}
	}

	.rembtn
	{
		margin-left: 10px;
		background-color: $orange;
		&:hover
		{
			background-color: #ae323b;
		}
	}

	.autobtn
	{
		margin-left: 10px;
		background-color: $orange;
		&:hover
		{
			background-color: #093;
		}
	}

	ul
	{
		margin-right: 43px;
		padding: 0;
		width: 200px;
		float: left;
		list-style: none;
	}
}

::-webkit-scrollbar { 
    display: none; 
}

.allevents
{
	float: right;
	width: 300px;
	ul
	{

		height: 400px;
		overflow: scroll;

		list-style: none;
		li
		{
			text-align: right;
			padding: 10px;
			transition: all 0.2s ease-in-out;
			&:hover
			{
				background-color: $lgray;
			}
		}
	}
}